<?xml version="1.0" encoding="utf-8"?>
<!-- versión de XML y tipo de codificación -->
<!-- define el android namespace, no cambiar -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.androidclase.cameraapp">
    <!-- nombre del paquete, no cambiar una vez publicado -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- etiqueta de aplicacion, es obligatoria -->
    <!-- el backup permite que se puedan hacer backup -->
    <!-- indica el icono de la aplicación -->
    <!-- nombre de la aplicacion para el usuario -->
    <!-- indica si la aplicacion soportara layouts de dcha a izq -->
    <!-- tema por defecto para las actividades -->
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraApp">
        <!-- declara una actividad, es obligatorio. todas las actividades deben ser declaradas -->
        <!-- lo primero es el nombre de la actividad -->
        <activity android:name=".MainActivity">
            <!-- especifica los distintos intents de la actividad -->
            <intent-filter>
                <!-- actividad principal -->
                <action android:name="android.intent.action.MAIN" />
                <!-- actividad de nivel principal -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>